// global scss

body{
  background-color: #c4c4c4;
  // color: black;
}

.block{
  display: block;
}

.center-item{
  text-align: center;
}

.content__root{
  padding: 20px 10vw;
}

// import go here
@import './contact.scss';