.hide{
  display: none;
}

.contact_info_row{
  padding: 8px 0px;
  border-bottom: 1px solid #ccc;
  .title{
    font-weight: 650;
    font-size: 16px;
  }
  .value{
    font-size: 15px;
  }
}

.is_Alive{
  color: green;
}
.is_Dead{
  color: red;
}
.is_unknown{
  color: #d65500;
}

.page_btn{
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid #ccc;
  &:hover{
    background-color: #ccc;
  }
  &:disabled{
    background-color: #bbb;
    cursor: not-allowed;
  }
}

.active-page{
  background-color: #ccc;
}

.bonus-pagination{
  padding-top: 15px;
  text-align: center;
}