.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .homeTitle{
    width: 50%;
    text-align: center; 
  }
}


.viewLink{
  display: block;
  padding-top: 15px;
}